.section-banner {
  margin: auto;
  padding: 200px 0px;
  max-width: 1600px;
  align-content: center;
  background-color: var(--dark-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  padding: 200px 0px;

  @media screen and (min-width: 480px) and (max-width: 1199px){
    padding: 118px 00px;
   }

   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-mobile.jpg);

   @media (min-device-pixel-ratio: 2) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), (min-resolution: 192dpi) and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 768px) {
     background-image: url(../images/banner-mobile@2x.jpg);
   }
 
 @media screen and (min-width: 768px) {
     background-image: url(../images/banner-tablet.jpg);
   }
 
 @media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
     background-image: url(../images/banner-tablet@2x.jpg);
   }
 
 @media screen and (min-width: 1200px) {
     background-image: url(../images/banner-desktop.jpg);
   }
 
 @media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1024px) {
     background-image: url(../images/banner-desktop@2x.jpg);
   }     


  
&__title {
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) and (max-width: 1199px) { 
      font-size: 26px;
      line-height: 1.62px;}
    
}

&__button {
  justify-content: center;
  width: 216px;
  padding: 10px 0;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  
    @media screen and (min-width: 480px) and (max-width: 1199px) { 
      width: 200px;
      }
      
  }
}

// .section-banner {
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-mobile.jpg);

//   @media (min-device-pixel-ratio: 2) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), (min-resolution: 192dpi) and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 768px) {
//     background-image: url(../images/banner-mobile@2x.jpg);
//   }

// @media screen and (min-width: 768px) {
//     background-image: url(../images/banner-tablet.jpg);
//   }

// @media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
//     background-image: url(../images/banner-tablet@2x.jpg);
//   }

// @media screen and (min-width: 1200px) {
//     background-image: url(../images/banner-desktop.jpg);
//   }

// @media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1024px) {
//     background-image: url(../images/banner-desktop@2x.jpg);
//   }
//   } 

 

  
  