.header {
  border-bottom: 1px solid var(--borde-line-color);

&__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 767px)  {
  justify-content: space-between;

  }
 }
}

.header__logo {
  padding: 25px 92px 25px 0;
 
  @media screen and (max-width: 1199px) {
    padding: 26px 87px 26px 0;
    }


    @media screen and (max-width: 767px)  {
      padding: 16px 0;
    }

& span {
  color: #000000;
}
}
