
.mobile-menu {
    display: block;

}

.mobile-menu__link {
    display: inline-block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;}
    

    .mobile-menu__link:hover, 
    .mobile-menu__link:focus {
    color: var(--accent-text-color);
    }
   


.mobile-contact {
    margin-bottom: 64px;
    display: block;

&__link {
display: inline-block;
margin-bottom: 32px;
font-weight: 500;   
font-size: 24px;
line-height: 1.17;
color: #757575;
}
&__link:hover,
&__link:focus {
    font-size: 34px;
    line-height: 1.18;
    color: #2196F3;
    }
}

.mobile-social {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
   

&__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-text-color);
    padding-right: 10px;
    border-right: 1px solid rgba(33,33,33,.2);
    }

    // &__link:last-child {
    // padding-right: 0;
    // border-right: none;
    //     }
    
}
 
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

        
     
                      
     .menu-toggle.js-close-menu:hover,
     .menu-toggle.js-close-menu:focus {
        color: var(--accent-text-color);
     }

     .js-close-menu {
        position: absolute;
        top: 10px;
        right: 15px;
     }
        
      
    .menu-container {
        position: fixed;
        top: 0;
        display: flex;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        background-color: var(--main-background-color);
        -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,.04),0px 2px 4px rgba(0,0,0,.08),0px 1px 3px rgba(0,0,0,.16);
        box-shadow: 0px 4px 8px rgba(0,0,0,.04),0px 2px 4px rgba(0,0,0,.08),0px 1px 3px rgba(0,0,0,.16);
        z-index: 999;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: -webkit-transform var(--easy-go);
        transition: -webkit-transform var(--easy-go);
        transition: transform var(--easy-go);
        transition: transform var(--easy-go), -webkit-transform var(--easy-go);
        overflow: auto;
        justify-content: space-between;
        flex-direction: column;
    

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
         .menu-container.is-open {
        transform: translateX(0);
      }
              
         


